moradito = rgb(116, 0, 204)

a 
    color #75033c

body 
    background black
    font-family Indie Flower
    font-size 16px
    color white

footer
    li
        font-family monospace

.logoIG

        img
            width 75px
            cursor pointer

.logoTW

        img
            width 75px
            cursor pointer
    
.logoYT

    img
        width 75px
        cursor pointer

.contactos
    margin-top 1rem
    font-family timesnewroman

    img 
        width 10rem
    
    p
        font-size 15px

.header
    background white

    

nav
    img 
        width 40px
        border-radius 50%
    
.barraLinks
    margin-top 20px

.bannerDiv
    
    img 
        width 100%

.posts
    padding 1em

    .post
        background moradito
        border-radius 0 0 0.5em 0.5em
        box-shadow 2px 2px 10px rgba(white, 1)
        margin-bottom 1em
        width 100%
        color gold

        .acciones
            border-top 3px inset white
            padding 0.5em
            overflow hidden
            background white

            .datos
                float right

                .comentarios
                    background black
                    border-radius 5px
                    color white
                    margin 0 1em 0 0
                    padding 2px 5px
                    text-decoration none

            .votos
                float left
                font-family Arial

                .down
                .up
                    text-decoration none
                    padding 0.1em 0.2em
                    border-radius 5px
                    font-size 1em
                    font-style bold
                    vertical-align bottom

                .down
                    color red
                
                .up
                    color #07DD38

        .descripcion
            color white

            .detalles
                height 180px
                margin-left 180px

                .autor
                    margin 0.5em 0 2em 0

                .fechas
                    float right
                    margin 0 1em 0 0
                    text-decoration none
                    color white

                .tag
                    background #75033c
                    border-radius 0.5em
                    color black
                    padding 0.3em 0.5em
                    text-decoration none

                .titulo
                    font-size 18px
                    font-style italic
                    margin 0
                    padding 0.5em 0.5em 0 0

            .imagen
                float left

                img
                    height 140px
                    vertical-align top
                    width 100px

.publicidad
    border 2px dashed white

    img
        width 100%

.redes
    top 8rem
    right 0.5rem

@media screen and (min-width: 900px)

    .posts
        .post
            display inline-block
            width 48%
            vertical-align top
            &:nth-child(odd)
                margin-right 2%